* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
    
  nav {
    background: #be3144;
    height: 80px;
    width: 100%;
    position: fixed;
  }
  
  nav ul {
    float: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a {
    color: #f0f0f0;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
  }
  
  a.active,a:hover {
    background: #303841;
    transition: .5s;
  }
  
  .welcome-section {
    background-color: #303841;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .welcome-section h1 {
    color: #f0f0f0;
    font-size: 3.3rem;
  }
  
  .welcome-section p {
    color: #be3144;
    font-size: 1.5rem;
    font-style: italic;
  }
  
  .projects {
    background: #45567d;
    color: #f0f0f0;
    text-align: center;
    padding: 10rem 2rem;
  }
  
  .projects h1 {
    text-decoration: underline;
  }
  
  .contact {
    background: #303841;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #f0f0f0;
  }
  
  .contact h1 {
    font-size: 2.8rem;
  }
  
  .contact p {
    font-size: 1.2rem;
    font-style: italic;
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  .contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }
  
  body {
    font-family: 'Poppins' sans-serif;
    line-height: 1.4;
    font-weight: 400;
  }
  
  .footer {
    border-top: 4px solid #be3144;
    background: #303841;
    color: #f0f0f0;
    padding: 1rem;
  }
  
  a {
    color: #f0f0f0;
    font-size: 1.3rem;
  }
  
  .btn {
    padding: 1.3rem;
    border-radius: 2px;
    display: inline-block;
  }
  
  @media (max-width: 28.75rem) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    margin-top: 3rem;
    background: #303841;
  }
  
  @media (max-width: 30.625em) {
    .projects {
      padding: 6rem 1rem;
    }
  }
  
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }
  
  .resume-section {
    background-color: #303841;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .resume-image {
    width: 100%;
    height: calc(100% - 6.8rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
    object-fit: cover;
  }

  .resume-title {
    padding-top: 1rem;
    color: #f0f0f0;
  }